{% extends 'base.html' %}
{% block title %}PSHS-EVC Student Alliance Elections 2015-2016 | Vote now for your new set of officers!{% endblock %}
{% block custom_css %}/static/css/home.css{% endblock %}

{% block main %}
    <article class="container-fluid">
        <div id="heading" class="row-fluid">
            <img id="banner" class="img-responsive" src="/static/img/home/banner.png" height="80" width="422">      
            <h1 id="banner-title">Vote now!</h1>
            <h3>For the next set of PSHS-EVC Student Alliance Officers</h3>
            <a class="btn btn-block btn-social btn-facebook">
                <i class="fa fa-facebook"></i>
                Sign in with Facebook
            </a>
        </div>
    </article>
{% endblock %}