{% extends 'base.html' %}

{% block title %}PSHS-EVC Student Alliance Elections 2015-2016 | Vote now for your new set of officers!{% endblock %}

{% block main %}
    <article>
        {% if user and user.successful_auth and not user.has_voted %}
            <div id="has-auth" class="container-fluid">
                <div id="header" class="row-fluid">
                    <div id="internal-header" class="col-xs-12">
                        <img id="logo" class="img-responsive" src="/static/img/global/logo.png" height="128" width="94">
                        <img id="banner" src="/static/img/global/banner.png" height="80" width="422">
                        <h4 id="vote-start">Time to vote, {{ user.first_name }}.</h4>
                        <h5>Click/tap on a photo of a candidate if you want to see him/her as one of the Student Alliance officers for S.Y. 2015 - 2016.</h5>
                        <noscript><h5>Javascript must be enabled in your browser.</h5></noscript>
                    </div>
                </div>
                <div id="voting-area" class="row-fluid">
                    <div id="candidates">
                        <div id="castillejos" class="candid col-xs-6 col-sm-4">
                            <img id="johan" class="profpic" src="/static/img/home/trans.gif" height="128" width="128">
                            <h5>Johan Castillejos<br>for President</h5>
                        </div>
                        <div id="bismark" class="candid col-xs-6 col-sm-4">
                            <img id="kobe" class="profpic" src="/static/img/home/trans.gif" height="128" width="128">
                            <h5>Kobe Bismark<br>for Vice-President</h5>
                        </div>
                        <div id="latorre" class="candid col-xs-6 col-sm-4">
                            <img id="jeri" class="profpic" src="/static/img/home/trans.gif" height="128" width="128">
                            <h5>Jeri Latorre<br>for Secretary</h5>
                        </div>
                        <div id="sevilla" class="candid col-xs-6 col-sm-4">
                            <img id="sophia" class="profpic" src="/static/img/home/trans.gif" height="128" width="128">
                            <h5>Sophia Sevilla<br>for Treasurer</h5>
                        </div>
                        <div id="limsiaco" class="candid col-xs-6 col-sm-4">
                            <img id="linette" class="profpic" src="/static/img/home/trans.gif" height="128" width="128">
                            <h5>Linette Limsiaco<br>for Auditor</h5>
                        </div>
                        <div id="ecaldre" class="candid col-xs-6 col-sm-4">
                            <img id="ronel" class="profpic" src="/static/img/home/trans.gif" height="128" width="128">
                            <h5>Ronel Ecaldre<br>for P.I.O.</h5>
                        </div>
                    </div>
                    <div id="voting-button" class="col-xs-12">
                        <div class="col-xs-12 col-sm-3 col-sm-push-9">
                            <button id="finish-voting" class="btn btn-warning btn-block"> Finish Voting</button>                        
                        </div>
                        <div class="col-sm-6"></div>
                        <div class="col-xs-12 col-sm-3 col-sm-pull-9">
                            <a href="{% url 'auth:logout' %}?next={{ request.path }}" class="btn btn-danger btn-block">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        {% elif user and user.successful_auth and user.has_voted%}
            <div id="has-voted" class="row-fluid">
                <img id="logo" class="img-responsive" src="/static/img/global/logo.png" height="128" width="94">
                <img id="banner" class="img-responsive" src="/static/img/global/banner.png" height="80" width="422">
                <h3 class="banner-title">Thanks for voting!</h3>
                <h4>Final results will be announced at a later date.</h4>
                <a id="logout" href="{% url 'auth:logout' %}?next={{ request.path }}" class="btn btn-danger btn-block">Logout</a>
            </div>
        {% else %}
            <script type="text/javascript">
                page = 'homepage';
            </script>
            <div id="no-auth" class="row-fluid">
                <img id="logo" class="img-responsive" src="/static/img/global/logo.png" height="128" width="94">
                <img id="banner" class="img-responsive" src="/static/img/global/banner.png" height="80" width="422">
                <h1 class="banner-title">Vote now!</h1>
                <h3>For the next set of PSHS-EVC Student Alliance Officers</h3>
                <div id="login-form" role="form">
                    <div class="form-group">
                        <input id="student-id" type="text" class="form-control" placeholder="Student ID No.">
                    </div>
                    <div class="input-group">
                        <input id="password" type="password" class="form-control" placeholder="Password" oninput="checkStudentID()">
                        <span class="input-group-btn">
                            <button id="login-btn" class="btn btn-primary" type="button">Login</button>
                        </span>
                    </div>
                </div>
                <h5 id="login-incorrect">Incorrect Student ID No. or password</h5>
            </div>
        {% endif %}
    </article>
{% endblock %}