{% extends 'base.html' %}

{% block title %}PSHS-EVC Student Alliance Elections 2015-2016 | Vote now for your new set of officers!{% endblock %}

{% block main %}
    <article>
        <div id="has-auth" class="container-fluid">
            <div id="header" class="row-fluid">
                <div id="internal-header" class="col-xs-12">
                    <img id="logo" class="img-responsive" src="/static/img/global/logo.png" height="128" width="94">
                    <img id="banner" src="/static/img/global/banner.png" height="80" width="422">
                    <h4 id="vote-start">Time to vote, {{ user.first_name }}.</h4>
                    <h5>Click on a photo of a candidate if you want to see him/her as one of the Student Alliance officers for S.Y. 2015 - 2016.</h5>
                    <noscript><h5>Javascript must be enabled in your browser.</h5></noscript>
                </div>
            </div>
            <div id="voting-area" class="row-fluid">
                <div id="candidates">
                    <div id="president" class="row-fluid">
                        <div id="president-label" class="col-xs-12"><h4>Choose your President</h4></div>
                        <div id="castillejos" class="col-xs-6">
                            <img id="johan" class="profpic" src="/static/img/home/trans.gif" height="128" width="128">
                            <h5>Johan Castillejos<br>CHICSER</h5>
                        </div>
                        <div id="espina" class="col-xs-6">
                            <img id="rysa" class="profpic" src="/static/img/home/trans.gif" height="128" width="128">
                            <h5>Raizsa Espina<br>Pisay LIFE</h5>
                        </div>
                    </div>
                    <div id="vice-president" class="row-fluid">
                        <div id="vice-president-label" class="col-xs-12"><h4>Choose your Vice President</h4></div>
                        <div id="bismark" class="col-xs-6">
                            <img id="kobe" class="profpic" src="/static/img/home/trans.gif" height="128" width="128">
                            <h5>Kobe Bismark<br>CHICSER</h5>
                        </div>
                        <div id="faller" class="col-xs-6">
                            <img id="nicolas" class="profpic" src="/static/img/home/trans.gif" height="128" width="128">
                            <h5>Nicolas Faller<br>Pisay LIFE</h5>
                        </div>
                    </div>
                    <div id="secretary" class="row-fluid">
                        <div id="secretary-label" class="col-xs-12"><h4>Choose your Secretary</h4></div>
                        <div id="latorre" class="col-xs-6">
                            <img id="jeri" class="profpic" src="/static/img/home/trans.gif" height="128" width="128">
                            <h5>Jeri Latorre<br>CHICSER</h5>
                        </div>
                        <div id="cesista" class="col-xs-6">
                            <img id="franz" class="profpic" src="/static/img/home/trans.gif" height="128" width="128">
                            <h5>Franz Cesista<br>Pisay LIFE</h5>
                        </div>
                    </div>
                    <div id="treasurer" class="row-fluid">
                        <div id="treasurer-label" class="col-xs-12"><h4>Choose your Treasurer</h4></div>
                        <div id="sevilla" class="col-xs-6">
                            <img id="sophia" class="profpic" src="/static/img/home/trans.gif" height="128" width="128">
                            <h5>Sophia Sevilla<br>CHICSER</h5>
                        </div>
                        <div id="kempis" class="col-xs-6">
                            <img id="joshua" class="profpic" src="/static/img/home/trans.gif" height="128" width="128">
                            <h5>Joshua Kempis<br>Pisay LIFE</h5>
                        </div>
                    </div>
                    <div id="auditor" class="row-fluid">
                        <div id="auditor-label" class="col-xs-12"><h4>Choose your Auditor</h4></div>
                        <div id="limsiaco" class="col-xs-6">
                            <img id="linette" class="profpic" src="/static/img/home/trans.gif" height="128" width="128">
                            <h5>Linette Limsiaco<br>CHICSER</h5>
                        </div>
                        <div id="bayot" class="col-xs-6">
                            <img id="khristeena" class="profpic" src="/static/img/home/trans.gif" height="128" width="128">
                            <h5>Khristeena Bayot<br>Pisay LIFE</h5>
                        </div>
                    </div>
                    <div id="pio" class="row-fluid">
                        <div id="pio-label" class="col-xs-12"><h4>Choose your PIO</h4></div>
                        <div id="ecaldre" class="col-xs-6">
                            <img id="ronel" class="profpic" src="/static/img/home/trans.gif" height="128" width="128">
                            <h5>Ronel Ecaldre<br>CHICSER</h5>
                        </div>
                        <div id="radaza" class="col-xs-6">
                            <img id="Jazzel" class="profpic" src="/static/img/home/trans.gif" height="128" width="128">
                            <h5>Jazzel Radaza<br>Pisay LIFE</h5>
                        </div>
                    </div>
                </div>
                <div id="voting-button" class="col-xs-12">
                    <div class="col-xs-12 col-sm-3 col-sm-push-9">
                        <button id="finish-voting" class="btn btn-warning btn-block"> Finish Voting</button>                        
                    </div>
                    <div class="col-sm-6"></div>
                    <div class="col-xs-12 col-sm-3 col-sm-pull-9">
                        <a href="/logout/" class="btn btn-danger btn-block">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}